<% include header %>
    <div align="center">
        <br>
        <br>
        <br>
        <input class="button" placeholder="Search in contacts..." />
        <div class="contacts-container"></div>
        <script>  
        // Get the data from the API end point
            $(document).ready(function () {
                $.ajax({
                    url: 'http://localhost:8080/contacts',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {

                        // Build the HTML snippet for contacts
                        var container = $(".contacts-container");
                        var temp = data._embedded.contacts;
                        for(var i=0; i < temp.length; i++) {
                            var name = $("<span class='name'></span>").text(temp[i].firstName+" "+temp[i].lastName);
                            var email = $("<span class='email'><i class='fa fa-envelope'></i>"+" "+temp[i].email+"</span>");   
                            var phone = $("<span class='phone'><i class='fa fa-phone'></i>"+" "+temp[i].phoneNumber+"</span>");
                            var company = $("<span class='company'><i class='fa fa-building'></i>"+" "+temp[i].company+"</span>");
                            var city = $("<span class='city'><i class='fa fa-map-marker'></i>"+" "+temp[i].city+"</span>");

                            var contact = $("<div class='contact'></div>");
                            var image = $("<div class='image'><img src='https://thumb9.shutterstock.com/display_pic_with_logo/473872/451002748/stock-vector-young-man-face-cartoon-design-vector-illustration-graphic-icon-451002748.jpg'></div>");

                            contact.append(image);

                            var data = $("<div class='data'></div>");
                            var left = $("<div class='left'></div>");
                            var handler = $("<div class='handler'></div>");
                            var clearfix = $("<div class='clearfix'></div>")

                            left.append(name,email);
                            data.append(left,phone,company,city);

                            contact.append(data,handler,clearfix);

                            container.append(contact);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Database');
                    }
                });
            });  
        </script>
        <% include footer %>